/* Trevor Womack
12/08/2020
Sprint Week 2 Day 2
This code is the front end development of the prototype created by Adrian Segura.
on this page, you can type in a city in the search bar, push search, and data for that city 
will populate the console.  */
.bodyBG{
    background-image: url(../images/pmario.jpg);
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
}
.btnBG{
    background-color: #BAFFC3;
}
.btnSize{
    width:100%;
    display:block;
}
.center{
    display: flex;
    justify-content: center;
}
.spacing{
    display: flex;
    justify-content: space-between;
}
.dropdown-toggle::after { border: none; }

.jumboBG{
    background: rgba(255, 255, 255, 0.25);
}
.noPadding{
    padding: 0;
    margin: 0;
}
.fiveDayFont{
    font-size: 25px;
}
.cityName{
    font-size: 30px;
}
.tempNum{
    font-size: 50px;
}
.minTemp{
    
    font-size: 20px;
}
.maxTemp{
    
    font-size: 20px;
}

.btnSpecs{
    display: block;
    border: none;
    height: 40px;
    width: 100%;
    margin-right: 1px;
    background-color: white;
}
.trashSpecs{
    background-color: white;
    border: none;
}